h1 {
    text-align: center;
}
nav {
    text-align: center;
    background-color: #f04;
}
a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    margin: 0 50px;
    font-size: 20px;
}
